.App {
  display: flex;
  align-items: center;
  justify-content: center;

}

.main {
  width: 30%;
  min-width: 240px;
  height: 50%;
  min-height: 500px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50px;
  background-color: gray;
  font-family: 'Indie Flower', cursive;
  padding-bottom: 35px;
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main button {
  border: 1px solid black;
  border-radius: 50%;
  background-color: blue;
  color: aliceblue;
  font-size: large;
  margin-left: 10px;
}

form {
  border: 1px solid blue;
  background-color: #b3b3b3;
  padding: 10px;
  
}

form input {
  height: 25px;
  width: 70%;
}