.todo {
    width: 80%;
    font-family: 'Indie Flower', cursive;    
    font-size: x-large;
    border: 1px solid black;
    background-color: #FFFF88;
    margin: 10px;
    height: auto;
    padding: 5px;
    box-shadow: -1px 10px 7px black;
    
  }